@model LocationDetail
<div class="container">
  <h1>@Model.Name</h1>
  <form action="@Request.RawUrl" method="post" class="form-horizontal" enctype="multipart/form-data">
    <div class="row">
      <div class="span6">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Url)

        <div class="control-group">
          @Html.LabelFor(model => model.Name, new { @class = "control-label" })
          <div class="controls">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
          </div>
        </div>

        <div class="control-group">
          @Html.LabelFor(model => model.UrlKey, new { @class = "control-label" })
          <div class="controls">
            @Html.EditorFor(model => model.UrlKey)
            @Html.ValidationMessageFor(model => model.UrlKey)
          </div>
        </div>

        <div class="control-group">
          @Html.LabelFor(model => model.Intro, new { @class = "control-label" })
          <div class="controls">
            @Html.TextAreaFor(model => model.Intro, new { rows = 5, @class = "span4" })
            @Html.ValidationMessageFor(model => model.Intro)
          </div>
        </div>

        <div class="control-group">
          @Html.LabelFor(model => model.Synopsis, new { @class = "control-label" })
          <div class="controls">
            @Html.TextAreaFor(model => model.Synopsis, new { rows = 5, @class = "span4" })
            @Html.ValidationMessageFor(model => model.Synopsis)
          </div>
        </div>
      </div>

      <div class="span6">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#media" data-toggle="tab">Media</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="media">
            <h5>Upload new media</h5>
            <input type="file" name="images_" id="images" multiple="multiple" />
          </div>
        </div>
      </div>

    </div>


    <div class="form-actions">
      <input type="submit" class="btn btn-primary" value="Save" />
      <a href="/locations/@Model.Id" class="btn">Cancel</a>

      <a href="/locations/@Model.Id/delete" class="btn btn-danger pull-right">Delete</a>
    </div>
  </form>
</div>
