@model UpdateProfile
@{
    ViewBag.Title = "Update Profile";
}

<div id="panel-1">
    <div class="full_width whitebox profile profile_page">
        <h2>Your Personal Profile</h2>
        <form action="@Request.Url" method="post" id="profile">
            <p class="formfield">
                @Html.LabelFor(m => m.Name, "Name *")
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </p>

            <p class="formfield">
                @Html.LabelFor(m => m.City, "Home City")
                @Html.TextBoxFor(m => m.City)
                @Html.ValidationMessageFor(m => m.City)
            </p>

            <p class="formfield">
                @Html.LabelFor(m => m.Email, "Email *")
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </p>

            <p class="formfield">
                @Html.LabelFor(m => m.DateOfBirth, "Date of Birth *")
                @Html.TextBoxFor(m => m.DateOfBirth)
                @Html.ValidationMessageFor(m => m.DateOfBirth)
            </p>

            <p class="formfield">
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </p>

            <p class="formfield">
                @Html.LabelFor(m => m.PasswordConfirm, "Confirm Password*")
                @Html.TextBoxFor(m => m.PasswordConfirm)
                @Html.ValidationMessageFor(m => m.PasswordConfirm)
            </p>

            <h3>Cities you like to go out in/travel to</h3>
            <p class="formfield">
                @Html.LabelFor(m => m.FavouriteCities, "My favourite cities")
                @Html.TextAreaFor(m => m.FavouriteCities)
                @Html.ValidationMessageFor(m => m.FavouriteCities)
            </p>

            <h3>My Favourite...</h3>
            <p class="formfield">
                @Html.LabelFor(m => m.FavouriteBars, "Bars")
                @Html.TextAreaFor(m => m.FavouriteBars)
                @Html.ValidationMessageFor(m => m.FavouriteBars)
            </p>
            <p class="formfield">
                @Html.LabelFor(m => m.FavouriteBrands, "Drinks brand")
                @Html.TextAreaFor(m => m.FavouriteBrands)
                @Html.ValidationMessageFor(m => m.FavouriteBrands)
            </p>
            <p class="formfield">
                @Html.LabelFor(m => m.FavouriteCocktails, "Cocktails")
                @Html.TextAreaFor(m => m.FavouriteCocktails)
                @Html.ValidationMessageFor(m => m.FavouriteCocktails)
            </p>

            <input type="submit" class="submit" value="Confirm" />
        </form>
    </div>
</div>
