@{
  ViewBag.Title = (ViewBag.Title != null ? ViewBag.Title + " | " : string.Empty) + "World's Best Bars"; 
}
<!DOCTYPE HTML>
<html prefix="og: http://ogp.me/ns#">
<head>
  <title>@ViewBag.Title</title>
  <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
  
  @Styles.Render("~/css")

  <link rel="stylesheet" href="@Url.Content("~/Content/css/mobile.css")" media="handheld, only screen and (max-device-width:640px)"/>
  <!--[if IE 6]>
  @Styles.Render("~/css/ie6")
  <![endif]-->
  <!--[if IE 7]>
  @Styles.Render("~/css/ie7")
  <![endif]-->
  <!--[if IE 8]>
  @Styles.Render("~/css/ie8")
  <![endif]-->
  <!--[if IE 9]>
  @Styles.Render("~/css/ie9")
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  <![endif]-->

  <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/print.css")" media="print" />
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" />

  <meta name="viewport" content="initial-scale=0.5, user-scalable=yes, width=640" />
  <meta property="fb:page_id" content="149071961796732" />
  <meta property="fb:admin" content="brendan.j.mckenzie" />
  <meta property="og:title" content="@ViewBag.Title" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="@Request.Url" />
  <meta property="og:image" content="@(ViewBag.DefaultImage ?? "http://www.worldsbestbars.com/content/img/for-facebook.jpg")" />

  <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
  @if (IsSectionDefined("MetaTags"))
  {
    @RenderSection("MetaTags");
  }
  else
  {
    <meta name="description" content="Bars, Cocktail Lounges and Cool Pubs around the World" />
  }

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

  <script type="text/javascript" src="@Url.Content("~/Content/js/mobile.js")"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '@Config.Google.AnalyticsTrackingCode']);
  </script>

</head>
<body>
  <a id="topofpage"></a>
  <div id="container">
    <div id="page">
      <div id="header">
        <a href="@Url.Content("~/")" title="World's Best Bars &reg;">
          <div id="logo">World's Best Bars</div>
        </a>
        <hr class="hr">
      </div>
      <div id="search">
        <form action="@Url.Content("~/search")" method="get">
        <input type="text" id="ubersearch" name="query" value="@(ViewBag.SearchQuery ?? "Type search terms here")" />
        <select name="filter" id="filter">
          <option value="-">Filter by category</option>
          @foreach (var list in WorldsBestBars.Web.Cache.Lists.Instance.GetSearchable())
          { 
            <option value="@list.Key"@((ViewBag.SearchFilter == list.Key) ? " selected" : string.Empty)>@list.Name</option>
          }
        </select>
        <input type="hidden" name="location" value="" />
        <input type="submit" id="submit" value="Find me a bar" />
        </form>
      </div>
      <div id="top-nav">
        <ul>
          <li id="tab-0"><a href="/all-cities">Cities</a></li>	
          <li id="tab-1"><a href="/cocktails-and-more">Cocktails &amp; more</a></li>
          <li id="tab-2"><a href="/top-100">Readers' Top 100</a></li>
          <li id="tab-3"><a href="/most-talked-about">Most talked about</a></li>
          <li id="tab-4"><a href="/experts-choice">Expert's Choice</a></li>
        </ul>
        <div id="soc_net_holder">
          <span>Follow us</span> 
          <a id="fb" href="http://www.facebook.com/worldsbestbars" target="_blank">Facebook</a> 
         
          <a id="pin" href="http://pinterest.com/worldsbestbars" target="_blank">Pinterest</a>
          
          <a id="twit" href="http://twitter.com/worldsbestbars" target="_blank">Twitter</a>
        </div>
      </div>
      <div id="content">
        @RenderBody()
        @if (Session.CurrentUser() == null)
        {
          Html.RenderPartial("LoginRegister");
        }
      </div>
    </div>
    <div id="sidebar">
      <div id="signup">
        @if (Session.CurrentUser() == null)
        {
          <a id="login" href="#">Login</a>
          <a id="sign_up" href="/profile">Sign up</a>
        }
        else
        {
          <a href="/profile">Profile</a>
          <a id="logout" href="@Url.Content("~/user/logout")">Logout</a>
        }
      </div>
      <div id="ads">
        @{Html.RenderPartial("Advert");}
      </div>
    </div>
    <div id="footer">
      <a href="#topofpage" class="whitelink">[ Top of page ]</a> <span class="copyright">
        &copy;
                2013 World's Best Bars</span>
      <hr class="hr10">
      <ul id="bottom-nav">
        <li><a href="@Url.Content("~/all-bars")">All Bars</a>&nbsp;|</li>
        <li><a href="@Url.Content("~/all-cities")">All Cities</a>&nbsp;|</li>
        <li><a href="@Url.Content("~/all-articles")">All Articles</a>&nbsp;|</li>
        <li><a href="@Url.Content("~/about-us")">About Us</a>&nbsp;|</li>
        <li><a href="@Url.Content("~/terms-and-conditions")">Terms &amp; Conditions</a>&nbsp;|
        </li>
        <li><a href="@Url.Content("~/cookie-policy")">Cookies</a>&nbsp;|</li>
        <li class="last"><a href="@Url.Content("~/privacy-policy")">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
  <div id="overlay">
  </div>
  <div id="fb-root">
  </div>
  <script type="text/javascript">
    window.fbAsyncInit = function () {
      FB.init({ appId: '@Config.Facebook.AppId', status: true, cookie: true, xfbml: true });
      if ($("#facebook-not-connected").length > 0) {
        FB.getLoginStatus(function (response) {
          if (response.session) {
            $("#facebook-not-connected").hide();
            $("#facebook-connected").show();
          }
        });
      }
    };

    (function () {
      var e = document.createElement('script'); e.async = true;
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      document.getElementById('fb-root').appendChild(e);
    }());
  </script>
  <script type="text/javascript" src="@Url.Content("~/Content/js/select2.min.js")"></script>
  <script type="text/javascript" src="@Url.Content("~/Content/js/global.js")"></script>

    @RenderSection("Scripts", false)

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_trackPageview'], ['_trackPageLoadTime']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
