<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>worlds best bars administration</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" type="text/css" href="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/css/jquery.dataTables.css">
  <link rel="stylesheet" href="@("/Areas/Admin/Content/css/style.css")">
  <link rel="stylesheet" href="@("/Areas/Admin/Content/css/mint-choc/jquery-ui-1.8.17.css")">
  <link rel="stylesheet" href="@("/Areas/Admin/Content/css/jquery.jscrollpane.css")">
  <link rel="stylesheet" href="@("/Areas/Admin/Content/css/jquery.ui.timepicker.css")">
  <link rel="stylesheet" href="@("/Areas/Admin/Content/css/jquery.ui.selectmenu.css")">
  <link rel="stylesheet" href="@("/Areas/Admin/Content/css/nyroModal.css")">
  <!-- end CSS-->
  <script type="text/javascript" src="@("/Areas/Admin/Content/js/libs/modernizr-2.0.6.min.js")"></script>
</head>
<body>
  <!--! end of #container -->
  <script type="text/javascript">    var site_base = '@Url.Content("~")';</script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/mylibs/jquery-ui-1.8.17.min.js")"></script>
  <!-- scripts concatenated and minified via ant build script-->
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/plugins.js")"></script>
  <!-- all these should be replaced by the minified combination script... same goes for the css -->
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/mylibs/jquery.jstree.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/mylibs/jquery.cookie.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/mylibs/jquery.hotkeys.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/mylibs/jquery.jscrollpane.min.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/mylibs/jquery.mousewheel.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/mylibs/jquery.ui.timepicker.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/mylibs/jquery.ui.selectmenu.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/mylibs/jquery.nyroModal.custom.min.js")"></script>
  <script type="text/javascript" charset="utf8" src="//ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/jquery.dataTables.min.js"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/mylibs/webtoolkit.aim.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/mylibs/beautify-html.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/actions/CreateBarAction.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/actions/ManageLocationsAction.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/actions/ManageExpertsAction.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/actions/ManageListsAction.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/actions/ManageDocumentsAction.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/actions/ManageAdvertsAction.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/actions/ModerateReviewsAction.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/actions/ModerateBarResourceSubmissions.js")"></script>
  <script type="text/javascript" defer src="@("/Areas/Admin/Content/js/script.js")"></script>
  <!-- end scripts-->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
